#modal-add input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--bg-hover);
  border-radius: 5px;
  background: var(--bg-mild);
  outline: none;
}

#add-book-title {
  transition: all 0.3s ease;
}
#add-book-title:focus {
  border: 1px solid var(--accent);
}
.add-book-tags-input-container {
  border: 1px solid var(--bg-hover);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.add-book-tags-input-container:focus-within {
  border: 1px solid var(--accent);
}

#add-book-tags-input-suggestions, #add-book-tags-suggestions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  transition: all 0.3s ease;
}
.add-book-tag-suggestion {
  position: relative;
  padding: 4px 8px;
  font-size: .8rem;
  background: none;
  border: 1px solid var(--bg-hover);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.add-book-tag-suggestion::before {
  content: '#';
  color: var(--accent);
}
#add-book-tags-input-suggestions .add-book-tag-suggestion, .add-book-tag-suggestion.active {
  position: relative;
  background: rgb(from var(--accent) r g b / 0.2);
  border-color: var(--accent);
}
#add-book-tags-input-suggestions .add-book-tag-suggestion::after {
  content: '×';
  color: var(--text);
  padding: 4px;
}

.add-button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.add-button-container button {
  width: 50%;
  max-width: 200px;
  padding: 10px 12px;
  font-family: var(--font);
  border: 1px solid var(--bg-hover);
  border-radius: 5px;
  outline: none;
}
#add-book-cancel {
  background: var(--bg-mild);
}
#add-book-submit {
  color: var(--bg);
  background: var(--accent);
}