.edit-menu {
  position: absolute;
  background-color: var(--bg-mild);
  border: 1px solid var(--text);
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.edit-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.2s;
}
.edit-menu-item#edit-menu-item-edit:hover {
  background-color: var(--bg-hover);
}
.edit-menu-item#edit-menu-item-delete:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.edit-menu-icon {
  width: .9rem;
  height: .9rem;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text);
}
.edit-menu-icon#edit-menu-icon-edit {
  mask-image: url(../assets/images/edit_pen.svg);
}
.edit-menu-icon#edit-menu-icon-delete {
  mask-image: url(../assets/images/edit_trashcan.svg);
}

.edit-menu-item span {
  font-size: .8rem;
}


/* sub modal */
#sub-modal-overlay .edit-title {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 1px solid var(--accent);
}
#sub-modal-overlay .edit-title::before {
  content: '#';
  color: var(--accent);
  padding-right: .2rem;
}
#sub-modal-overlay .edit-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
#sub-modal-overlay .edit-content input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--bg-hover);
  border-radius: 5px;
  background: var(--bg-mild);
  outline: none;
  transition: all 0.3s ease;
  &:focus {
    border: 1px solid var(--accent);
  }
}

#sub-modal-overlay .edit-button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#sub-modal-overlay .edit-button-container button {
  flex: 1;
  max-width: 200px;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  outline: none;
}
#sub-modal-overlay .edit-button-container button#edit-button-cancel {
  background: var(--bg-hover);
  transition: all 0.3s ease;
  &:hover {
    background: color-mix(in srgb, var(--bg-hover) 90%, black);
  }
}
#sub-modal-overlay .edit-button-container button#edit-button-save {
  color: var(--bg);
  background: var(--accent);
  transition: all 0.3s ease;
  &:hover {
    background: color-mix(in srgb, var(--accent) 90%, black);
  }
}